.main {
  margin-top: 2em;
  border-radius: 5px;
  /* border: 1px solid #777575; */
}

.centerHeader {
  justify-content: center;
  padding: 10px;
}

.center {
  justify-content: center;
  padding: 5px;
}

.item {
  padding: 15px 0px !important;
}

/* .map {
  border-radius: 5px;
  border: 1px solid #777575;
} */
.pin {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  background-color: #f30505;
  border: 1px solid #f30505;
  border-radius: 50%;
}
